$night: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 100%);
$dawn-90: linear-gradient(180deg, rgba(2,0,36,1) 85%, 
	rgba(4,23,46,1) 100%);

$dawn-88:linear-gradient(180deg, rgba(2,0,36,1) 83%, 
	rgba(6,28,55,1) 100%);

$dawn-86:linear-gradient(180deg, rgba(2,0,36,1) 80%, 
	rgba(7,33,64,1) 100%);

$dawn-83: linear-gradient(180deg, rgba(2,0,36,1) 75%, 
	rgba(11,44,80,1) 100%);

$dawn-79:linear-gradient(180deg, rgba(2,0,36,1) 64%, 
	rgba(11,46,82,1) 100%);

$dawn-75: linear-gradient(180deg, rgba(2,0,36,1) 50%, 
	rgba(12,52,87,1) 100%);

$dawn-73:linear-gradient(180deg, rgba(2,0,36,1) 50%, 
	rgba(12,52,87,1) 96%, 
	rgba(60,69,59,1) 100%);

$dawn-72: linear-gradient(180deg, rgba(2,0,36,1) 50%, 
	rgba(12,52,87,1) 88%, 
	rgba(70,60,60,1) 99%);

$dawn-71:linear-gradient(180deg, rgba(2,0,36,1) 48%, 
	rgba(12,58,90,1) 84%, 
	rgba(73,64,64,1) 98%);

$dawn-69:linear-gradient(180deg, rgba(2,0,36,1) 47%, 
	rgba(12,58,90,1) 84%, 
	rgba(69,64,59,1) 97%, 
	rgba(100,35,10,1) 100%);

$dawn-68:linear-gradient(180deg, rgba(2,0,36,1) 45%, 
	rgba(12,58,90,1) 82%, 
	rgba(69,64,59,1) 95%, 
	rgba(103,37,11,1) 100%);

$dawn-67:linear-gradient(180deg, rgba(2,0,36,1) 45%, 
	rgba(12,58,90,1) 80%, 
	rgba(69,64,59,1) 94%, 
	rgba(106,39,11,1) 100%);

$dawn-60: linear-gradient(180deg, rgba(2,0,36,1) 40%, 
	rgba(14,64,107,1) 74%, 
	rgba(79,70,59,1) 87%, 
	rgba(143,53,16,1) 100%);

$dawn-45: linear-gradient(180deg, rgba(2,0,36,1) 20%, 
	rgba(14,64,107,1) 71%, 
	rgba(90,108,103,1) 82%, 
	rgba(255,181,79,1) 92%, 
	rgba(231,89,30,1) 100%);

$dawn-30:linear-gradient(180deg, rgba(2,0,36,1) 0%, 
	rgba(0,32,113,1) 33%, 
	rgba(51,103,130,1) 60%, 
	rgba(129,154,146,1) 77%, 
	rgba(255,199,79,1) 91%, 
	rgba(231,123,30,1) 100%);

//dawn-15 might be more dawn-10...we'll see
$dawn-15: linear-gradient(180deg, rgba(6,10,99,1) 0%, 
	rgba(0,50,122,1) 21%, 
	rgba(62,119,149,1) 53%, 
	rgba(150,170,163,1) 75%, 
	rgba(255,199,79,1) 86%, 
	rgba(241,170,86,1) 100%);

$daybreak-0: linear-gradient(180deg, rgba(0,32,113,1) 0%, 
	rgba(24,74,143,1) 21%, 
	rgba(98,168,204,1) 55%, 
	rgba(236,169,64,1) 84%, 
	rgba(255,199,79,1) 100%);

